/* css file for styling */
.App {
  background-image: linear-gradient(#ddd6f3,#faaca8);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 4rem;
  width: 100%;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: rgba(255, 255, 255, 0.3);
  justify-content: center;
}
.logo {
  height:3.5rem;
  width: 3.5rem;
  background: url("https://as2.ftcdn.net/v2/jpg/02/29/28/79/1000_F_229287966_l2ZZqlpx5RZlcW91eMGRBYq3ooqRX6W9.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 1px solid white;
}

.title{
  color: #faaca8;
  font-weight: bold;
  font-size: 3rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 1rem;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  overflow: auto;
  max-height: calc(100vh - 4rem - 4rem);
  min-height: calc(100vh - 4rem - 4rem);
  padding: 1rem;
  flex: 1;
}
.message {
  color: white;
  background: black;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border-radius: 0.3rem;
}

.text-input {
  width:calc(100% - 50px);
}

.message-row {
  display: flex;
  align-items: center;
  width: 100vw;
  flex-direction: row;
}
.message {
  color: white;
  background: black;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 0.3rem;
  max-width: 20rem;
  min-height: auto;
  overflow-wrap: break-word;
  position: relative;
}
.message-user {
  position: absolute;
  left: 0;
  top: -0.8rem;
  font-size: 0.5rem;
}

.name-picker {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.name-picker svg {
  stroke: white;
  cursor: pointer;
}
.name-picker-name {
  color: white;
  margin-right: 0.5rem;
  font-size: 0.8rem;
}
